.footer address {
  margin-bottom: 0;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-top: 1px solid #c3c3c3;
  color: #d6d6d6;
}

.footer .footer__col {
  margin-bottom: 2em;
}

.footer a {
  display: block;
  color: #d6d6d6;
}

.footer a:hover {
  text-decoration: none;
}

.footer span.footer-header {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #fff;
}

#footer__col-1 img {
  max-width: 500px;
  width: 100%;
}

#footer__col-2,
#footer__col-3,
#footer__col-4 {
  padding-top: 0;
}

#footer__col-4 a {
  display: inline-block;
}

@media (min-width: 576px) {
  #footer__col-2,
  #footer__col-3,
  #footer__col-4 {
    padding-top: 0.3rem;
  }
}

@media (min-width: 992px) {
  #footer__col-1 {
    margin-bottom: 0;
  }
}

.fa-facebook {
  margin-right: 0.2rem;
}
